@media screen and (max-width: 1000px) {
  .header {
    height: 80px; } }

@media screen and (max-width: 800px) {
  .header {
    height: 60px; } }

@media screen and (max-width: 1080px) {
  html {
    font-size: 337.5px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 240px; } }

@media screen and (max-width: 640px) {
  html {
    font-size: 200px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 129.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 120px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 117.1875px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 112.5px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 100px; } }

body, p, h2, ul, li {
  margin: 0;
  padding: 0;
  font-size: 16px; }

li {
  list-style: none; }

@font-face {
  font-family: 'iconfont';
  src: url(../ux_1476266176_5399623/iconfont.woff); }

.header {
  height: 0.4rem;
  background-color: orange;
  overflow: hidden; }
  .header .inner {
    height: 0.3rem;
    margin-top: 0.05rem;
    position: relative;
    overflow: hidden;
    color: #fff; }
    .header .inner .iconfonts {
      font-family: 'iconfont';
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      margin-left: 0.07rem;
      float: left;
      font-size: 18px; }
    .header .inner .icon-category::before {
      content: "\e621"; }
    .header .inner .search {
      float: left;
      margin-left: 0.3rem;
      width: 1rem; }
      .header .inner .search input {
        display: block;
        width: 1rem;
        height: 0.3rem;
        border: none;
        opacity: 0.5;
        color: orange; }
    .header .inner .icons {
      height: 0.3rem;
      width: 1.5rem;
      float: right;
      margin-right: 0.05rem; }
      .header .inner .icons .icon-plus::before {
        content: "\e61d"; }
      .header .inner .icons .icon-font {
        font-family: 'iconfont';
        font-size: 24px;
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-left: 0.5rem;
        float: left; }
      .header .inner .icons .icon-ring::before {
        content: "\e652"; }
      .header .inner .icons .icon-fonts {
        font-family: 'iconfont';
        font-size: 24px;
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-right: 0.2rem;
        float: right; }
      .header .inner .icons .icon-iconfontsetting::before {
        content: "\e615"; }

.bigbox {
  width: 3rem;
  height: 1rem;
  padding: 0.67rem 0 0.75rem 0.15rem; }
  .bigbox .contentbox {
    padding-bottom: 0.02rem;
    margin-bottom: 0.38rem; }
    .bigbox .contentbox .recieve {
      position: relative;
      color: #3c3c3c;
      margin-bottom: 0.2rem; }
      .bigbox .contentbox .recieve .aiconfont {
        font-family: 'iconfont';
        font-size: 24px;
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: auto; }
      .bigbox .contentbox .recieve .icon-pop::before {
        content: "\e676"; }
      .bigbox .contentbox .recieve .recieve-box {
        overflow: hidden; }
        .bigbox .contentbox .recieve .recieve-box .list-item {
          display: block;
          width: 2.8rem;
          height: 0.3rem;
          line-height: 0.3rem;
          border-bottom: 1px solid silver;
          position: relative;
          transition: transform 0.8s ease; }
          .bigbox .contentbox .recieve .recieve-box .list-item .feichu {
            animation: feichu 0.8s ease both; }

@keyframes feichu {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(-25%, 0, 0); }
  50% {
    transform: translate3d(-50%, 0, 0); }
  75% {
    transform: translate3d(-75%, 0, 0); }
  100% {
    transform: translate3d(-100%, 0, 0); } }
          .bigbox .contentbox .recieve .recieve-box .list-item .linedel {
            width: 80%;
            height: 3px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto; }
          .bigbox .contentbox .recieve .recieve-box .list-item .icon-font {
            font-family: 'iconfont';
            font-size: 16px;
            display: block;
            width: 0.2rem;
            height: 0.2rem;
            position: absolute;
            top: 0;
            right: 0;
            margin: auto; }
          .bigbox .contentbox .recieve .recieve-box .list-item .icon-close::before {
            content: "\e747"; }
        .bigbox .contentbox .recieve .recieve-box .done {
          opacity: 0.5; }
    .bigbox .contentbox .plusmiss {
      height: 0.27rem;
      color: red; }
      .bigbox .contentbox .plusmiss .aiconfont {
        font-family: 'iconfont';
        font-size: 16px;
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        float: left; }
      .bigbox .contentbox .plusmiss .icon-plus::before {
        content: "\e61d"; }
      .bigbox .contentbox .plusmiss .aiconfonts {
        font-family: 'iconfont';
        font-size: 16px;
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        float: right;
        color: silver; }
      .bigbox .contentbox .plusmiss .icon-clock:before {
        content: "\e64a"; }
